{# file: /roles/fio/templates/awscli_config.j2 #}
{# Jinja2 template to render a AWS CLI config file #}
[default]
aws_access_key_id = {{ aws_access_key_id }}
aws_secret_access_key = {{ aws_secret_access_key }}
region = {{ aws_region }}